
.vs/OdinRenderSystem/v15/.suo
.vs/OdinRenderSystem/v15/Browse.VC.db
.vs/OdinRenderSystem/v15/Browse.VC.opendb
.vs/OdinRenderSystem/v15/ipch/AutoPCH/163c2ca303efa314/UTIL.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/281bd92afed91da5/DDSTEXTURELOADER.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/2ed9c106d4cae8a2/APPLICATION.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/3006b2a7ec4bc77e/WAVES.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/6f66ff6a264a0adb/GAMETIME.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/83942467a4e03717/UTIL.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/83e103096f1bb580/UPLOADBUFFER.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/8d53e9d20e0d73d7/FRAMERESOURCE.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/97ca434b6735ed58/MAIN.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/a88a53065b3079a3/MAIN.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/aafb624e67ac0431/BLURFILTER.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/abe0deb05c4cb15e/LIGHT.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/d5090f8c53519601/APPLICATION.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/d51eeb477c452f69/GAMETIMER.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/d9cac8d0fe163270/CAMERA.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/ee6e5b753a5e1157/RENDERSYSTEM.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/efc8eefcdb7205c1/GEOMETRYGENERATOR.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/fbab6adfc3242b29/MESHGEOMETRY.ipch
.vs/OdinRenderSystem/v15/ipch/AutoPCH/fe1800d11084c5fa/D3D12.ipch
x64/Debug/Application.obj
x64/Debug/BlurFilter.obj
x64/Debug/Camera.obj
x64/Debug/DDSTextureLoader.obj
x64/Debug/default.cso
x64/Debug/FrameResource.obj
x64/Debug/GameTime.obj
x64/Debug/GameTimer.obj
x64/Debug/GeometryGenerator.obj
x64/Debug/main.obj
x64/Debug/MathHelper.obj
x64/Debug/MeshGeometry.obj
x64/Debug/OdinRenderSystem.exe
x64/Debug/OdinRenderSystem.ilk
x64/Debug/OdinRenderSystem.log
x64/Debug/OdinRenderSystem.pdb
x64/Debug/OdinRenderSystem.tlog/CL.command.1.tlog
x64/Debug/OdinRenderSystem.tlog/CL.read.1.tlog
x64/Debug/OdinRenderSystem.tlog/CL.write.1.tlog
x64/Debug/OdinRenderSystem.tlog/fxc.command.1.tlog
x64/Debug/OdinRenderSystem.tlog/fxc.read.1.tlog
x64/Debug/OdinRenderSystem.tlog/fxc.write.1.tlog
x64/Debug/OdinRenderSystem.tlog/link.command.1.tlog
x64/Debug/OdinRenderSystem.tlog/link.read.1.tlog
x64/Debug/OdinRenderSystem.tlog/link.write.1.tlog
x64/Debug/OdinRenderSystem.tlog/OdinRenderSystem.lastbuildstate
x64/Debug/RenderSystem.obj
x64/Debug/Util.obj
x64/Debug/vc141.idb
x64/Debug/vc141.pdb
x64/Debug/Waves.obj
